body {
    background: #FAFAFA;
}

.header {
    background: linear-gradient(39deg, #96b2f0 -10.38%, #c7f3fb 107.56%);

}


.container {
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.first-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search {
    display: flex;
    width: 100%;
    max-width: 391px;
    padding: 18px 28px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 90px;
    border: 4px solid var(--main-black, #272525);
    background: transparent;
    color: #8E8E8E;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 105.5%;
    /* 16.88px */
}

.header-logo {
    color: #272525;
    margin-right: 64px;
    font-family: "Neutraface Text";
    font-size: 38.044px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header-phone {
    border-radius: 90px;
    background: #1FAB8A;
    margin-left: 68px;
    box-shadow: 0px 6px 25px 0px rgba(121, 129, 173, 0.45);
    display: inline-flex;
    padding: 17px 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #EEF1F6;
    font-family: "Gilroy-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
    /* 18.99px */
}

.second-header-text {
    color: var(--main-black, #272525);
    font-family: "Gilroy-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
    /* 18.99px */
}

.second-header-item {
    list-style: none;
}

.second-header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.down-header {
    background-color: rgba(250, 251, 253, 0.44);
}

.down-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-header-title {
    margin-left: 116px;
    color: #3C336C;
    font-family: "Neutraface Text";
    font-size: 38.044px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: lowercase;
}

.hero {
    padding-top: 60px;
    padding-bottom: 191px;
}

.hero-title {
    color: var(--main-black, #272525);
    font-family: "Gilroy-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-text {
    width: 623px;
    color: var(--gray, #454747);
    font-family: "Gilroy-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 20.8px */
}

.hero-divide {
    display: flex;
}

.products {
    padding-top: 41px;
    padding-bottom: 105px;
}

.products-border {
    width: auto;
height: 8px;
background: #F2F1F8;
margin-bottom: 47px;
}

.products-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.products-button {
    color: #8E8E8E;

    text-align: center;
    font-family: "Gilroy-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
    text-decoration: none;
    /* 18.99px */
}

.products-products {
    gap: 29px;
    margin-top: 61px;
    display: flex;
    flex-wrap: wrap;
}

.products-product {
    width: 378px;
    height: 542px;
    border-radius: 15px;
background: #FFF;
}

.products-img {
    width: 378px;
    height: 387px;
    background: #F1F1F8;
}

.products-info {
    width: 321.3px;
    height: 50px;
    color: #272525;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
    margin-left: 15.91px;
    /* 25.32px */
}

.products-desc {
    width: 223.816px;
    color: #272525;
    font-family: "Gilroy-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.5%;
    margin-left: 15.91px;
    /* 12.66px */
}

.products-cost {
    color: #C4C4C4;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
    /* 25.32px */
    width: 189.995px;
    margin-left: 15.91px;
}